html {
  height: 100%;
  width: 100%;
}
body {
  background-image: linear-gradient(#FFE2CD, #FEC2E7, #C9E7FF, #86FeF4);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#slider {
  width: 500px;
  margin: 0 auto;
   display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
.slider-container {
  align-items: center;
  margin: 10px auto;
}
.dropBtn {
  display: none;
}
.moveOn {
  display: none;
}
.dropInfo {
  display: none;
}
.answerSpace {
  margin: 20px;
  font-size: 30px;
}
.image1 {
  
}

.dropInfo {
  display: none;
}
.moveText {
  text-decoration: none;
}